<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751277100021-4g9s7bvls1s4l1ja95d523dmfo06cd48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751277100021-4g9s7bvls1s4l1ja95d523dmfo06cd48</string>
	<key>API_KEY</key>
	<string>AIzaSyCf6ylMJJtWsu51mrTdeL6tX2pYGaOL9lA</string>
	<key>GCM_SENDER_ID</key>
	<string>751277100021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usersManagement</string>
	<key>PROJECT_ID</key>
	<string>user-management-da458</string>
	<key>STORAGE_BUCKET</key>
	<string>user-management-da458.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751277100021:ios:f355b995a204e7fa8faebc</string>
</dict>
</plist>